{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Event Dashboard
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Event Dashboard</h1>
    <span class="hidden">event.fb_event_id</span>
    <h3>Ordered confirmed: {{ event.made_request }}</h3>
    <h3>Date: {{ event.event_time }}</h3>
    <h3>People Attending: 0</h3>
    <h1>{{ value }}</h1>

{% endblock %}