{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h3 id="event_name"></h3>

    {{ wtf.quick_form(form, action=url_for('events.register')) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '952096844837567',
                xfbml      : true,
                version    : 'v2.5'
            });

            FB.getLoginStatus(function(response) {
                console.log("login status: ", response)
                if (response.status === 'connected') {
                    console.log('Logged in.');
                    loggedIn(response.authResponse);
                }
                else {
                    FB.login();
                }
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

       var userAuth;

       function loggedIn(authResponse) {
         userAuth = authResponse;
         var avatar = 'https://graph.facebook.com/'+authResponse.userID+'/picture';
         $('input[name="fb_url"]').prop('disabled', false);
         $('input[name="fb_user_id"]').val(authResponse.userID);
         $('input[name="fb_user_token"]').val(authResponse.accessToken);
         $('#avatar').attr('src', avatar);
       }

       function fbUrlChanged() {
         var url = $('input[name="fb_url"]').val();
         var eventID = url.match(/events\/(\d+)/)[1];
         FB.api('/'+eventID, function (eventResponse) {
           if (eventResponse.error) {
           } else {
             $('#event_name').text(eventResponse.name);
             $('input[name="fb_event_id"]').val(eventResponse.id);
             $('input[name="event_time"]').val(eventResponse.start_time);
             $('form').prop('disabled', false);
           }
         })
       }

       function init () {
         $('form').prop('disabled', true);
         $('input[name="fb_url"]').prop('disabled', true);
         $('input[name="fb_url"]').on('change blur', fbUrlChanged);
       }

       $(init);
</script>
{% endblock %}
